
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    background-color: burlywood;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(65, 63, 59);!important
}



/*div styles*/
.common{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
}
.top{
    top: 0px;
    left: 0px;
    right: 0px;
}
.middle{
    top: 100px;
    left: 0px;
    right: 0px;
}
.bottom{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    text-align: center;
    background-color: burlywood;
    font-style: italic;
    font-weight: bold;
}
.imgcenter{
    display: block;
    margin: auto;
    width: 700px;
    height: 500px;
    border: 5px solid cornsilk;
}